extends layout

block content
  h1= TemperatureInfo
  p Outdoor temperature: #{outdoorTemp}
  p Outdoor feels like: #{outdoorAT}
  p Indoor temperature: #{indoorTemp}
  p Indoor feels like: #{indoorAT}